@model  List<Event>
@{
    ViewData["Title"] = "Кабинет администратора";
}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<h1 class="text-shadow-1">Админ-панель</h1>
<table class="table" style="width:auto">
    <tr class="table-danger">
        <th>Название мероприятия</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var ev in Model)
    {
        <tr class="table-warning">
            <td>@ev.Name</td>
            <td><button class="btn btn-outline-warning" onclick="window.location.assign('/Home/EditEvent?id=@ev.Id')" >Редактировать</button></td>
            <td><button class="btn btn-outline-danger" onclick="Delete(`@ev.Id`)">Удалить</button></td>
            <td><button class="btn btn-outline-info" onclick="window.location.assign('/Home/Event?id=@ev.Id')" >Подробная информация</button></td>
        </tr>
     }
</table>
    <a href="/Home/AddEvent" class="add"></a>
    <button style="margin-top: 30px;" class="btn btn-success" onclick="window.location.assign('/Home/AddEvent')" >&#43; Добавить мероприятие</button>
<script>
    function Delete(id) {
        var data = {
            Id: id
        };
        console.log(data);

        $.ajax({
            type: "POST",
            url: "/Home/DeleteEventApi",
            // The key needs to match your method's input parameter (case-sensitive).
            data: data,
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () { alert("Мероприятие удалено"); location.reload();},
            failure: function () {
                alert("Не удалось удалить мероприятие");
            }
        });
    }
</script>
<style>
    .buttons {
  width: 105px;
  height: 32px;
  text-decoration: none;
  padding-top: 9px;
  color: green;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 14px arial;
}
.text-shadow-1 {
            color: wheat;
            text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
            letter-spacing: 0.1em;
        }

</style>


