@model List<Event>
@{
    ViewData["Title"] = "Мероприятия";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <style>
        .text-shadow-1 {
            background: indianred;
            color: wheat;
            text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
            letter-spacing: 0.1em;
        }
        .all{
        height:auto;
        background: indianred;
        width:auto
    }
        
        .button1 {
    background-color: wheat;
    color: black;
    border: 2px solid #000000;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    font-size:24px;
}
    </style>
    <div class="all">
        <h1 style="text-align:center" class="text-shadow-1">Список мероприятий</h1>

        @foreach (var e in Model)
        {
            <p style="text-align:center;"><button class="button1" onclick="window.location.assign('/Home/Event?id=@e.Id')">@e.Name</button></p>
            
        }
    </div>





