@model  AdminData
@{
    ViewData["Title"] = "LogInAsAdmin";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <div class="all">
        <h2 class="text-shadow-1" style="text-align:center;">Войти</h2>
        <div class="input-group mb-3" style="margin:0 auto 0; width:400px">
            <input type="text" class="form-control" placeholder="Логин" id="email">
            <div class="input-group-append">
                <span class="input-group-text">gmail.com</span>
            </div>
        </div>
        <div style="margin:0 auto 0; width:400px">
            <input type="password" class="form-control" placeholder="Пароль" id="password"/>
        </div>
        <div style="text-align:center;">
            <button onclick="CheckAdmin()" class="btn btn-success" style="margin-top:20px;width:100px">Войти</button>
        </div>
        
    </div>


    <script>
    function CheckAdmin() {
        console.log(email.value);
        var email = document.getElementById("email").value;
        email += 'gmail.com;';
        var password = document.getElementById("password").value;
        if (email == "@Model.Email" && password == "@Model.Password") {
            window.location.assign("/Home/Admin");
        }
    }
    </script>
<style>
    .all{
        height:305px;
        background: indianred;
        width:510px;
        margin:0 auto 0;
    }
a.green{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:130px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding: 8px 16px;
margin: 20px 0px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;        
}
a.green {
background-color: rgb( 43, 153, 91 );
border: 1px solid rgb( 33, 126, 74 );
}
        
a.green:hover {
background-color: rgb( 75, 183, 141 );
}
.text-shadow-1 {
            background: indianred;
            color: wheat;
            text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
            letter-spacing: 0.1em;
        }
</style>