@{
    ViewData["Title"] = "Главная";
 }
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

<body>
    <div class="all">
        <h1 style="text-align:center; font-size:60px;" class="text-shadow-1">Coffe X.O.</h1>
        

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://img.freepik.com/free-vector/copyspace_1017-20091.jpg?size=626&ext=jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/free-vector/copyspace_1017-20091.jpg?size=626&ext=jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/free-vector/copyspace_1017-20091.jpg?size=626&ext=jpg" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


        <h1 class="text-shadow-1" style="text-align:center">О нас</h1>

        <p><b class="text">Какой-то текст, который потом придумаем. Тут планируется что-то типа о самом кафе.</b></p>
        <em>Мы в инстаграмме:</em>
        <p></p>
        <a href="https://www.instagram.com/"><img class="insta" src="https://free-png.ru/wp-content/uploads/2019/05/znachok-Instagram-t.png" /></a>
    </div>
</body>



<style>
    .text {font-size:22px;}
    .insta{width:80px}
    .all{
        height:auto;
        background: indianred;
        width:auto;
    }
    .text-shadow {
        text-shadow: 1px 1px 0 orange,1px -1px 0 orange,-1px 1px 0 orange,-1px -1px 0 orange;
        color: white;
        transition: all 1s;
        text-shadow: 1px 1px 0 tan,1px -1px 0 tan,-1px 1px 0 tan,-1px -1px 0 tan;
        color: white;
    }

    .text-shadow-1 {
        background: indianred;
        color: wheat;
        text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
        letter-spacing: 0.1em;
    }
</style>



